@import '../_variables.scss';

button,
.button {
	padding: .75em 1.5em;
	background: map-get($colors, button-bg);
	color: map-get($colors, button-color);
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	outline: none;

	&:hover {
		background: map-get($colors, button-hover-bg);
	}

	&:active {
		background: map-get($colors, button-active-bg);
	}
}