@import '../../../../style/bootstrap-custom/bootstrap';
@import '../../../../style/variables';

header {
	@include clearfix();
	position: absolute;
	width: 100%;
	padding: 2em;

	.logo {
		display: inline-block;
		cursor: pointer;

		.pawsIcon {
			font-size: 3em;
		}
	}

	.controls {
		float: left;
		color: map-get($colors, header-color);

		.menu-toggle {
			font-size: 2em;
			cursor:pointer;
			margin-right: .5em;
		}
	}

	.actions {
		float: right;
	}

	@media screen and (min-width: $screen-sm-min) {

		.logo {
			.pawsIcon {
				font-size: 5em;
			}
		}
	}
}