@import '../../../../style/bootstrap-custom/bootstrap';

header {
	@include clearfix();
	position: absolute;
	width: 100%;
	padding: 2em;

	.controls {
		float: left;

		.menu-toggle {
			font-size: 2em;
			cursor:pointer;
			margin-right: .5em;
		}
	}

	.actions {
		float: right;
	}
}