@import './style/bootstrap-custom/bootstrap';
@import './style/variables';
@import './style/generated/pawsIcon';
@import './style/common/all';

html,
body{
	margin: 0;
	font-size: 14px;
	height: 100%;
}

app-main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.site-content-wrapper {
	flex: 1;
}