<footer>
	<div class="grass"></div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
					<h3>Who we are</h3>
					<ul>
						<li>Contact us</li>
						<li>F.A.Q.</li>
						<li>Rules</li>
						<li>Policies</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
					<h3>What we do</h3>
					<ul>
						<li>Events</li>
						<li>Food truck schedule</li>
						<li>Outreach</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
					<h3>Extras</h3>
					<ul>
						<li>Humane Society</li>
						<li>Port commissioner</li>
						<li>Extra fun stuff</li>
						<li>Halloween Special</li>
					</ul>
				</div>
			</div>
			<div class="social row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
					<h3>Follow Us</h3>
					<i class="pawsIcon pawsIcon-facebook"></i>
					<i class="pawsIcon pawsIcon-instagram"></i>
					<i class="pawsIcon pawsIcon-pinterest"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					&copy;{{getDate()}} Paws for a Beer
				</div>
			</div>
		</div>
	</div>
</footer>