@import '../../../../style/variables';

$imageRoot: $urlContentRoot + $urlImageRelativePath;

footer {
	margin-top: -66px;

	.grass {
		height: 66px;
		background: url('#{$imageRoot}footer-grass.png') repeat-x top center;
	}

	.content {
		color: map-get($colors, footer-color);
		background: map-get($colors, footer-bg);
	}
}