@import '../../../../style/bootstrap-custom/bootstrap-no-output';

.daycare-frame {
  iframe {
    height: 1335px;
  }
}

@media screen and (min-width: $screen-xs-min) {
  .daycare-frame {
    iframe {
      height: 1135px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .daycare-frame {
    iframe {
      height: 1095px;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .daycare-frame {
    iframe {
      height: 1070px;
    }
  }
}
