@import '../../../../style/bootstrap-custom/bootstrap-no-output';

.structure {
  content-toggle {
    .toggle-item {
      display: block;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}

.daycare-by-the-hour-frame {
  &.copy {
    .structure-content {
      padding-top: 0;
    }
  }

  iframe {
    height: 540px;
  }
}

.contact {
  margin-bottom: 2em;
  text-align: center;
}

@media screen and (min-width: $screen-xs-min) {
  .structure {
    content-toggle {
      .toggle-item {
        display: inline-block;
        margin-right: 2em;
      }
    }
  }

  .daycare-by-the-hour-frame {
    iframe {
      height: 530px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .daycare-by-the-hour-frame {
    iframe {
      height: 530px;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .daycare-by-the-hour-frame {
    iframe {
      height: 470px;
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .daycare-by-the-hour-frame {
    iframe {
      height: 450px;
    }
  }
}
