@import '../../../../style/bootstrap-custom/bootstrap-no-output';

.structure {
  content-toggle {
    .toggle-item {
      display: block;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}

.daycare-theme-days-frame {
  iframe {
    height: 750px;
  }
}

.contact {
  margin-bottom: 2em;
  text-align: center;
}

@media screen and (min-width: $screen-xs-min) {
  .structure {
    content-toggle {
      .toggle-item {
        display: inline-block;
        margin-right: 2em;
      }
    }
  }

  .daycare-theme-days-frame {
    iframe {
      height: 670px;
    }
  }
}
