li {
    list-style: initial;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: normal;
}

small {
    font-size: 13px;
}

iframe {
    width: 100%;
}

.frame-wrapper {
    position: relative;
}
